/*
 TODO Fix 2D array bottom border width thickness differences
*/

.array1d {
  display: table-row;
}

.array1d > div {
  vertical-align: middle;
  text-align: center;
  border-color: black;
  border-style: solid;
  border-width: 2px 0 2px 2px;
  width: 40px;
  height: 40px;
  display: table-cell;
}

.array1d >:last-child {
  border-right-width: 2px;
}

.array2d {
  display: table-row;
}
