.array1d {
  background: purple;
  display: table-row;
}

.array1d >:first-child {
  background: red;
}

.array1d > div {
  background: purple;
  border-color: black;
  border-style: solid;
  border-width: 2px 0 0px 2px;
  vertical-align: middle;
  text-align: center;
  padding: 4px 10px;
  display: table-cell;
}

.array1d >:last-child {
  background: yellow;
  border-right-width: 2px;
}
